<form role="form" class="">
  <div class="flex-row-basic">
    <div class="form-group avatar-selector">
      <label for="useravatar">Avatar</label>
      <img src="/images/trainers/167.png" id="settings-avatar-image" class="form-control player-avatar">
      <input type="number" class="avatar-number-input form-control" min="0" max="844" width="40" class="form-control" id="useravatar">
    </div>
    <div class="stretchX">
      <div class="form-group">
        <label for="#username">Username </label>
        <input type="text" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="usercolor" class="settings-color-label">Color</label>
        <input type="text" class="form-control" id="usercolor">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="userinfo">Trainer info</label>
    <textarea rows="4" id="userinfo" class="form-control" maxlength="500">
    </textarea>
    <p class="userinfo-limit-counter pull-right">0/500</p>
  </div>
</form>