
.battle-canvas {
    width: 600px;
    height: 360px;
    border: 1px solid #000;
    background: url("../images/battlefields/36.png");
    background-size: 100%;
}

.battle-view {
    margin: 0 0 0 18px;
}

.status-row {
    display: flex;
}

.status {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.status0 {
    background: url("../images/battlestatus/status0.png");
}

.status1 {
    background: url("../images/battlestatus/status1.png");
}

.status2 {
    background: url("../images/battlestatus/status2.png");
}

.status3 {
    background: url("../images/battlestatus/status3.png");
}

.status4 {
    background: url("../images/battlestatus/status4.png");
}

.status5 {
    background: url("../images/battlestatus/status5.png");
}

.status31 {
    background: url("../images/battlestatus/status31.png");
}

.trainer-name {
    font-weight: bold;
    margin: auto;
}

.battle-tab-layout {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.battle-canvas iframe {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 0;
}

.battle-poke-text {
	vertical-align: middle;
	display: inline-block;
}

.battle-poke {
    overflow: hidden;
}

/* Allow to still see which button was selected even when disabled */
.battle-poke.active[disabled], .battle-move.active[disabled]{
    background-color: #D4D4D4 !important;
}

.team-preview-row, .battle-attackrow {
	border-spacing: 15px;
}

.battle-attackrow, .battle-switchrow {
    width: 600px;
}

.battle-switchrow {
    margin-top: 15px;
}

/* Layout of poke buttons is different depending on screen height */
@media screen and (min-height: 670px) {
  .battle-switchrow.active {
    display: flex;
    flex-wrap: wrap;
  }

  .battle-switchrow.active .btn.battle-poke {
      width: 33.3333%;
      display: flex;
  }
}

.battle-switchrow.active .btn.battle-poke {
  border-radius: 0;
  margin-left: 0;
  border: 1px solid transparent;
  box-shadow: inset 1px 1px 0 #CCC, inset -1px -1px 0 #CCC;
}

@media screen and (max-height: 669px) {
  .battle-switchrow.active .btn.battle-poke {
      padding: 3px;
      font-size: 0.8em;
  }
}

.battle-move {
  border: 0;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
  padding-top: 12px;
  padding-bottom: 3px;
}

.battle-move:hover {
    text-shadow: 0 -1px 0 rgba(255, 255, 255, .1);
}

.battle-move:hover[disabled]:not(.active) {
    color: #FFF;
}

.battle-move-text {
  display: block
}

.battle-move-pp {
    font-weight: initial;
    float: right;
    font-size: 0.6em; 
    bottom: 2px;
    color: #CCC;
}

.battle-move.type-bug {
    background: linear-gradient(to bottom, #a8b820, #748016);
}

.battle-move.type-curse {
    background: linear-gradient(to bottom, #68a090, #4B7367);
}

.battle-move.type-dark {
    background: linear-gradient(to bottom, #705848, #332821);
}

.battle-move.type-dragon {
    background: linear-gradient(to bottom, #7038F8, #452399);
}

.battle-move.type-electric {
    background: linear-gradient(to bottom, #f8d030, #B39623);
}

.battle-move.type-fairy {
    background: linear-gradient(to bottom, #f088f6, #ec47f6);
}

.battle-move.type-fighting {
    background: linear-gradient(to bottom, #c03028, #80201B);
}

.battle-move.type-fire {
    background: linear-gradient(to bottom, #f08030, #B35F24);
}

.battle-move.type-flying {
    background: linear-gradient(to bottom, #a890f0, #7D6BB3);
}

.battle-move.type-ghost {
    background: linear-gradient(to bottom, #705898, #4B3B66);
}

.battle-move.type-grass {
    background: linear-gradient(to bottom, #78c850, #4D8033);
}

.battle-move.type-ground {
    background: linear-gradient(to bottom, #e0c068, #B39953);
}

.battle-move.type-ice {
    background: linear-gradient(to bottom, #98d8d8, #6C9999);
}

.battle-move.type-normal {
    background: linear-gradient(to bottom, #a8a878, #80805B);
}

.battle-move.type-poison {
    background: linear-gradient(to bottom, #a040a0, #662966);
}

.battle-move.type-psychic {
    background: linear-gradient(to bottom, #f85888, #CC4870);
}

.battle-move.type-rock {
    background: linear-gradient(to bottom, #b8a038, #99852F);
}

.battle-move.type-steel {
    background: linear-gradient(to bottom, #b8b8d0, #9393A6);
}

.battle-move.type-water {
    background: linear-gradient(to bottom, #6890f0, #4D6BB3);
}

.battle-tab-layout .chat {
    overflow-y: auto;
}

.team-preview-poke {
  position: relative;
}

.team-preview-poke-held-item {
  position: absolute;
  top: 30px;
  left: 40px;
}