@import 'base.less';
@import 'vex.less';
@import 'vex-theme-os.less';
@import 'chat.less';
@import 'player-list.less';
@import 'battle.less';
@import 'bootstrap-colorpicker.less';

/* A body that is full-height, full-width, but not more */
body {
  height: 100vh; 
  display:flex; 
  flex-direction: column; 
  overflow: hidden; 
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  position: absolute;
  box-sizing: border-box;
}

.flex-row-basic {
  display:flex; 
  flex-direction: row; 
}

.flex-row-no-shrink {
  display:flex; 
  flex-direction: row; 
  /*overflow-y: auto;*/
  flex-grow: 1;
}

.divider-left {
  border-left: 1px solid #DDD;
}

.flex-row {
  .flex-row-no-shrink;
  
  /* Tell the row to stretch vertically as possible without overflowing */
  flex-basis: 0px;
}

.no-padding {
  padding: 0;
}

.full-height {
  height:100%;
}

.flex-column {
  display:flex; 
  flex-direction: column; 
  flex-grow: 1;
  max-width: 100%;
}

.flex-stretch {
  align-items: stretch;
}

.btn-group.navbar-right {
  padding-right: 20px;
}

.leftbar {
  /*width: 27.5%;*/
}

.rightbar {
}

.hiddenScroll {
  overflow-y: hidden; 

  &:hover, &:focus {
    overflow-y: auto; 
  }
}

.stretchY {
  flex-grow: 1;
  flex-basis: 0px;

  .hiddenScroll;
}

.stretchX {
  flex-grow: 1;
  /*align-items: center;*/
}

.tab {
  flex-basis: 0px;
  flex-grow: 1;

  display: none;
}

.tab.current {
  display: inherit;
}

.chat {
    .stretchY;

  word-wrap: break-word;
}

.chat-column {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  /* Shifts main chat and centers it, adding whitespace to sides. */
  /* max-width: 1200px;
   margin-left: auto;
   margin-right: auto;*/
}

#tabs .tab.current {
  @media screen and (min-width: 1024px) {
    background: url("../images/bg.png") center;
    background-size: 100%
  }
}

.chat, .chatInputContainer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat, .chatInput {
}

#playerlist, #pmlist, #channellist, #battlelist {
    margin-bottom: 0px;
}

.encase-filter {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
}

/*#playerlist li:hover {
  cursor: pointer;
}*/

#po-tabs-list {
  margin-bottom: 20px;
}

.tab-active {
  color: #187A00 !important;
}

.tab-flash {
  color: #F90000 !important;
}

span.glyphicon {
    /*font-size: 1.6em;
    vertical-align: sub;*/
}

/*#po-tabs-list .po-tab-current{
  font-style: italic;
}*/

/* When editing those test by typing a very long unbreakable word in chat, i.e. "aaaaaaaaaaa..."*/
.leftbar {
  width: 27.5%;
  max-width: 27.5%;
  min-width: 27.5%;
}

.rightbar {
  width: 72.5%;
  min-width: 72.5%; 
}

iframe.player-info {
  border: 0px; /*1px solid black;*/
  padding: 0px !important;
  margin: 0px !important:
  background: transparent;

  width: 100%;
  height: 110px;
}

.well.info-block {
  margin-right: 15px;
}

.player-avatar {
  width: 80px;
  height: 80px;
  margin: auto;
}

.battle-clauses {
  white-space: nowrap;
  margin: auto;
}

.player-teams {
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
}

@media screen and (min-width: 909px) {
  .leftbar {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
  }
}
