@import 'base.less';
@import 'vex.less';
@import 'vex-theme-os.less';
@import 'chat.less';

/* A body that is full-height, full-width, but not more */
body {
  height: 100vh; 
  display:flex; 
  flex-direction: column; 
  overflow: hidden; 
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  position: absolute;
  box-sizing: border-box;
}

.flex-row {
  display:flex; 
  flex-direction: row; 
  height:100%;
}

.full-height {
  height:100%;
}

.flex-column {
  display:flex; 
  flex-direction: column; 
  .full-height;
}

.leftbar {
  /*width: 27.5%;*/
}

.rightbar {
  width: 100%;
}

.stretchY {
  overflow-y: hidden; 
  height: 100%;

  &:hover, &:focus {
  	overflow-y: auto; 
  }
}

.chat {
	.stretchY;
}

.chat, .chatInputContainer{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#playerlist {
	margin-bottom: 0px;
}