@import 'base.less';
@import 'vex.less';
@import 'vex-theme-os.less';
@import 'chat.less';
@import 'player-list.less';

/* A body that is full-height, full-width, but not more */
body {
  height: 100vh; 
  display:flex; 
  flex-direction: column; 
  overflow: hidden; 
  top: 0px; bottom: 0px; left: 0px; right: 0px;
  position: absolute;
  box-sizing: border-box;
}

.flex-row {
  display:flex; 
  flex-direction: row; 
  /*overflow-y: auto;*/
  /* Tell the row to stretch vertically as possible without overflowing */
  flex-basis: 0px;
  flex-grow: 1;
}

.full-height {
  height:100%;
}

.flex-column {
  display:flex; 
  flex-direction: column; 
  flex-grow: 1;
  max-width: 100%;
}

.leftbar {
  /*width: 27.5%;*/
}

.rightbar {
}

.hiddenScroll {
  overflow-y: hidden; 

  &:hover, &:focus {
    overflow-y: auto; 
  }
}

.stretchY {
  flex-grow: 1;
  flex-basis: 0px;

  .hiddenScroll;
}

.tab {
  flex-basis: 0px;
  flex-grow: 1;

  display: none;
}

.tab.current {
  display: inherit;
}

.chat {
	.stretchY;

  word-wrap: break-word;
}

.chat, .chatInputContainer{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#playerlist, #pmlist, #channellist, #battlelist {
	margin-bottom: 0px;
}

/*#playerlist li:hover {
  cursor: pointer;
}*/

#po-tabs-list {
  margin-bottom: 20px;
}

.tab-active {
  color: #187A00;
}

.tab-flash {
  color: #F90000;
}

span.glyphicon {
    /*font-size: 1.6em;
    vertical-align: sub;*/
}

#po-tabs-list .po-tab-current{
  font-style: italic;
}

/* When editing those test by typing a very long unbreakable word in chat, i.e. "aaaaaaaaaaa..."*/
.leftbar {
  width: 27.5%;
  max-width: 27.5%;
  min-width: 27.5%;
}

.rightbar {
  width: 72.5%;
  min-width: 72.5%; 
}

@media screen and (min-width: 1272px) {
  .leftbar {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
  }
}
