@import "../../../bower_components/seiyria-bootstrap-slider/less/bootstrap-slider.less";
@import "../../../bower_components/font-awesome/less/font-awesome.less";
@import "../../../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.less";

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 680px;
  }
}

@media screen and (min-width: 850px) {
  .modal-dialog.modal-teambuilder {
    width: 800px;
  }
}

.bootstrap-tagsinput {
  line-height: 1.75;
  width: 100%;
  min-height: 34px;
  padding-top: 0px;
  padding-bottom: 26px;
  max-height: 130px;
  overflow: auto;

  /* Doesn't allow user to type in team name */
  input {
    display: none;
  }
  .tag {
    cursor: pointer;
  }

  .deleted-teams-group & {
    padding-bottom: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 34px;
    max-height: 34px;
  }
}

#delete-teams-btn {
  margin-top: -9px;
}

.slider.slider-horizontal {
	width: 100%;
	display: table-cell;
  vertical-align: middle;
}

.tb-right-column {
  margin-left: 10px;
  margin-right: -20px;
  .btn {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .tb-hackmons-btn {
    margin-top: 26px;
  }
}

.tb-ev-name, .tb-stat /*,.tb-ev-value, .tb-iv-value*/ {
	display: table-cell;
  vertical-align: middle;
}

.tb-ev-value {
  max-width: 50px;
}

.tb-ability-container {
  padding-left: 5px;
  padding-right: 5px;
}

.tb-shiny-container {
  margin-top: 0px;
}

.tb-level-value {
  max-width: 50px;
  margin-left: 8px;
}

.tb-poke-top {
  margin-bottom: 5px;
}

.tb-iv-value {
  max-width: 40px;
}

.tb-level-container {
  margin-top: 4px;
}

.tb-stat {
  width: 2.5em;
}

.tb-stat-plus {
  color: darkgreen;
}

.tb-stat-minus {
  color: brown;
}

.tb-description {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 9px;
  height: 80px;
  overflow: auto;
}

#tb-importable-edit {
  height: 303px
}

.tb-import-btns .btn {
  margin-top: 10px;
  margin-bottom: 9px;
}

.tb-import-btns .tb-import-btn {
  margin-top: 27px;
}

.tb-poke-preview {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}

.tb-ev-group {
	display: table;
	border-spacing: 20px 0px;
	/* Remove margins left & right introduced by border spacing */
	margin-left: -20px;
	margin-right: -20px;
}

.tb-ev-row {
	display: table-row;
  vertical-align: middle;
}

.tb-move-row {
  padding-right: 5px;
  padding-left: 5px;
}

.tb-gender {
  font-size: 1.0em;
}

.tb-move-selection {
  flex-grow: 1;
  margin: 0px 2px;
  min-width: 25%;
}

.tb-poke, .tb-home, #tb-importable {
  margin-top: 8px;
}

.tb-poke .slider-selection {
	background: #BABABA;
}

.tb-sprite {
	display: block;
	max-width: 96px;
	max-height: 96px;
	margin: auto;
}

.tb-sprite-block {
	height: 100px;
  width: 100px;
  margin: auto;
	display: flex;
	background: #EAEAEC
}

.tb-type {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* typeahead stuff  */

.tb-tier-category {
  font-size: 0.9em;
  font-style: italic;
}

.twitter-typeahead {
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
}

.tt-hint {
  color: #999
}

.tt-menu,.tt-dropdown-menu {
  width: 422px;
  margin: 0px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 170px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor,.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}